{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard | Description List {% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        Descriptions List
                    </h1>
                    <div class="page-header-subtitle">List of all Descriptions</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4  mt-n10">
    <div class="card">
        <div class="card-header">Descriptions Table</div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Text</th>
                        <th>isCore</th>
                        <th>JobTitles</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Text</th>
                        <th>isCore</th>
                        <th>JobTitles</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ object.id }}</td>
                        <td>{{ object.text|safe }}</td>
                        <td>{{ object.is_core }}</td>
                        <td>{% for title in object.job_title.all %}<small>{{ title }} {% if not forloop.last %} ,{% endif %}</small> {% endfor %}</td>
                        <td>{{ object.updated_date }}</td>
                        <td>{{ object.created_date }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" type="button"
                                href="{% url 'dashboard:description-edit' pk=object.pk %}">Edit</a>
                            <!-- <a class="btn btn-secondary btn-xs" type="button"
                                href="">Show</a> -->
                            <a class="btn btn-success btn-xs" type="button"
                                href="{% url 'dashboard:description-archive' pk=object.pk %}">Archive</a>
                            {% if not object.is_core %}
                            <a class="btn btn-danger btn-xs" type="button"
                                href="{% url 'dashboard:description-delete' pk=object.pk %}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {
        // Simple-DataTables
        // https://github.com/fiduswriter/Simple-DataTables/wiki

        const datatablesSimple = document.getElementById('datatablesSimple');
        if (datatablesSimple) {
            new simpleDatatables.DataTable(datatablesSimple);
        }
    });

</script>
{% endblock %}