{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}Dashboard | Job Title List {% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="arrow-right-circle"></i></div>
                        Job Title Management
                    </h1>
                    <div class="page-header-subtitle">Manage your Job Titles from here</div>
                </div>
                <div class="col-12 col-xl-auto mt-4">
                    <div class="input-group input-group-joined border-0" style="width: 16.5rem">
                        <button class="btn btn-white" data-bs-toggle="modal" data-bs-target="#createModal">Add
                            Job Title</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4  mt-n10">
    <div class="card">
        <div class="card-header">JobTitles Table</div>

        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown">
                        <label>entries per page
                            <select class="dataTable-selector" id="page-size-num">
                                <option value="5">5</option>
                                <option value="10" selected="">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                        <label>Ordering filters
                            <select class="dataTable-selector" id="ordering-filter">
                                <option value="" selected="">None</option>
                                <option value="name">A-Z</option>
                                <option value="-name">Z-A</option>
                                <option value="created_date">Ascending Date</option>
                                <option value="-created_date">Descending Date</option>
                                <option value="id">Ascending ID</option>
                                <option value="-id">Descending ID</option>
                                <option value="related_skills">Ascending Related Skills</option>
                                <option value="-related_skills">Descending Related Skills</option>
                                <option value="related_descriptions">Ascending Related Descriptions</option>
                                <option value="-related_descriptions">Descending Related Descriptions</option>
                            </select>
                        </label>
                    </div>

                    <div class="dataTable-search">
                        <div class="input-group input-group-joined">
                            <input class="form-control pe-0" type="text" placeholder="Input text search"
                                aria-label="Search" id="search-filter-input">
                            <span class="input-group-text">
                                <i data-feather="search"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="dataTable-top">
                    <div class="float-start">
                        <label>Calculate Relations
                            <button class="btn btn-sm btn-primary" onclick="calculateRelations()">Execute</button>
                        </label>
                        <label>Multiple Select Operation
                            <select class="dataTable-selector" id="operation-selection">
                                <option value="None" selected>None</option>
                                <option value="mark">Mark the selected items</option>
                                <option value="unmark">UnMark the selected items</option>
                                <option value="archive">Archive the selected items</option>
                                <option value="unarchive">UnArchive the selected items</option>
                            </select>
                            <button class="btn btn-sm btn-primary" onclick="applyMultipleOperation()">apply</button>
                        </label>
                        <label>Show Archived
                            <input type="checkbox" id="show-archived" onchange="showArchivedItems(this)">
                        </label>
                        
                    </div>
                </div>
                <div class="dataTable-container">
                    <table class="dataTable-table">
                        <thead>
                            <tr>
                                <th style="width: 2.08372%;">Sct</th>
                                <th style="width: 4.08372%;">#</th>
                                <th style="width: 4.08372%;">Id</th>
                                <th style="width: 40.2795%;">Name</th>
                                <th style="width: 6.08845%;">isCore</th>
                                <th style="width: 6.08845%;">Related Skills</th>
                                <th style="width: 6.08845%;">Related Descriptions</th>
                                <th style="width: 8.68718%;">Created Date</th>
                                <th style="width: 9.28117%;">Updated Date</th>
                                <th style="width: 7.49919%;">Actions</th>
                            </tr>
                        </thead>

                        <tbody id="table-item-wrapper">

                        </tbody>
                    </table>
                </div>
                <div class="dataTable-bottom">
                    <div class="dataTable-info">Total entries <span id="total-items"></span> , Total marks <span
                            id="total-marks"></span></div>

                    <nav class="dataTable-pagination">
                        <ul class="dataTable-pagination-list" id="pagination-wrapper">
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Job Title Create</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="job-title-create-form">
                <div class="modal-body">

                    <div class="mb-3"><label for="description-text">Job Title Name </label>
                        <input name="name" class="form-control"></input>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Job Title Edit</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="job-title-edit-form">
                <div class="modal-body">

                    <div class="mb-3"><label for="job-title-input">Job Title </label>
                        <input id="job-title-input-edit" class="form-control" name="name"></input>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}



<script>
    var host_url = location.protocol + '//' + location.host
    var main_url = new URL(host_url + "/dashboard/api/v1/job-title/?is_archived=false")
    var page_number = null;

    var general_id;

    function get_job_titles(item) {
        let job_items_list = ''
        for (let job_item of item.job_title) {

            job_items_list += `<span style="margin:0 10px 0 0" class="badge bg-primary">${job_item.name}</span>`
        }
        return job_items_list
    }

    function fetchData(url) {
        let wrapper = $('#table-item-wrapper')

        $.get(url,  // url
            function (data, textStatus, jqXHR) {
                $('#total-items').text(data.total_items)
                $('#total-marks').text(data.total_marks)
                results_data = data.results
                wrapper.empty()
                results_data.forEach(function (item, i) {
                    // for (post of data.results) {
                    wrapper.append(`<tr id='table-item-${item.id}' style='${(item.is_marked) ? "background-color:#e6ffef" : ""}  ${(item.is_archived) ? "background-color:#ffe7b8" : ""}'>
                            <td><input type="checkbox" class="selected-items" value="${item.id}"></td>
                            <td>${i += 1}</td>
                            <td>${item.id}</td>
                            <td>${item.name}</td>
                            <td>${item.is_core}</td>
                            <td>${item.related_skills}</td>
                            <td>${item.related_descriptions}</td>
                            <td>${item.created_date}</td>
                            <td>${item.updated_date}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" type="button" onclick="openEditModal(${item.id})" >Edit</button>
                                <button class="btn btn-warning btn-xs" type="button" onclick="archiveItem(${item.id})">${(item.is_archived) ? "UnArchive" : "Archive"}</button>
                                <button class="btn btn-danger btn-xs" type="button" onclick="removeItem(${item.id})">Delete</button>
                                <button class="btn btn-success btn-xs" type="button" onclick="markItem(${item.id})">${(item.is_marked) ? "UnMark" : "Mark"}</button>
                            </td>
                        </tr>`)
                }


                )
                createPagination(data.links.current, data.total_pages, data.total_items)
            })

    }
    function createPagination(current_page, total_pages, total_items) {
        let elements = ""
        if (current_page != 1) {
            elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(1)})">${1}</a></li>`
            elements += `<li ><a class="PaginationButton" href="#"">...</a></li>`
            elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(current_page) - 1})">Prev Page</a></li>`
        }

        for (var i = +current_page - 3; i <= +current_page; i++) {
            if (i >= 1) {
                if (+current_page != i) {
                    elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(i)})">${i}</a></li>`
                }
            }
        }
        elements += `<li class="active"><a href="#">${current_page}</a></li>`

        for (var i = +current_page + 1; i <= +current_page + 3; i++) {
            if (i <= total_pages) {
                if (+current_page != i) {
                    elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(i)})">${i}</a></li>`

                }
            }
        }

        if (current_page != total_pages) {

            elements += `<li ><a class="PaginationButton" href="#"">...</a></li>`
            elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(current_page) + 1})" >Next Page</a></li>`
            elements += `<li ><a class="PaginationButton" href="#" onclick="changePage(${parseInt(total_pages)})">${total_pages}</a></li>`
        }
        $('#pagination-wrapper').html(elements)
    }

    function changePage(page_num) {
        // console.log(page_num)
        main_url.searchParams.set('page', page_num);
        fetchData(main_url)
    }


    $("#page-size-num").change(function (e) {
        main_url.searchParams.set('page', 1);
        main_url.searchParams.set('page_size', $(this).find(":selected").text());
        fetchData(main_url)
        // url.searchParams.append('x', 42);

    });


    function removeItem(id) {
        if (confirm(`Are you sure you want to remove this ${id} id?`)) {
            $.ajax({
                // contentType: "multipart/form-data",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                type: 'DELETE',
                processData: false,
                contentType: false,
                url: `/dashboard/api/v1/job-title/${id}/`,
                success: function (data) {
                    fetchData(main_url)
                },
                failure: function (response) {
                    alert(response)
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        } else {

        }
    }

    function archiveItem(id) {
        if (confirm(`Are you sure you want to archive/unarchive this ${id} id?`)) {
            formData = new FormData();
            formData.append('job_title_id', id)
            url = `/dashboard/api/v1/job-title/archive/`
            $.ajax({
                // contentType: "multipart/form-data",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                url: url,
                success: function (data) {
                    fetchData(main_url)
                },
                failure: function (response) {
                    alert(response)
                }

            });
        } else {

        }
    }

    function openEditModal(id) {
        $("#editModal").modal('show');
        general_id = id
        modal = document.getElementById("editModal")
        let result_data
        $.get(`/dashboard/api/v1/job-title/${id}`, { async: false },
            function (data, textStatus, jqXHR) {
                result_data = data
                // console.log(result_data)

            }).then(function () {
                $('#job-title-input-edit').val(result_data.name)

            })
    }

    function markItem(id) {
        formData = new FormData();
        formData.append('job_title_id', id)
        url = `/dashboard/api/v1/job-title/mark/`
        $.ajax({
            // contentType: "multipart/form-data",
            headers: {
                'X-CSRFToken': csrftoken,
            },
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            url: url,
            success: function (data) {
                // console.log(main_url)
                fetchData(main_url)
            },
            failure: function (response) {
                alert(response)
            }

        });

    }

    window.addEventListener('DOMContentLoaded', event => {
        url = main_url
        fetchData(url)
        // fetchJobTitles()
    });




    $("#ordering-filter").change(function (e) {

        main_url.searchParams.set('ordering', $(this).find(":selected").val());
        fetchData(main_url)
        // url.searchParams.append('x', 42);

    });
    $("#search-filter-input").on('keyup', function (e) {
        if (e.key === 'Enter' || e.keyCode === 13) {
            main_url.searchParams.set('search', $(this).val())
            fetchData(main_url)
        }
    });

    $("#job-title-create-form").submit(function (e) {
        e.preventDefault()

        formData = new FormData();
        formData.append('name', this.name.value)
        $.ajax({
            // contentType: "multipart/form-data",
            headers: {
                'X-CSRFToken': csrftoken,
            },
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            url: "/dashboard/api/v1/job-title/",
            success: function (data) {
                fetchData(main_url)
                $("#createModal").modal('hide');
            },
            failure: function (response) {
                alert(response)
            }
        });
    });


    $("#job-title-edit-form").submit(function (e) {
        e.preventDefault()
        // console.log(this.job_title.value)
        // console.log('sent')
        formData = new FormData();
        formData.append('name', this.name.value)
        let id = general_id
        $.ajax({
            // contentType: "multipart/form-data",
            headers: {
                'X-CSRFToken': csrftoken,
            },
            type: 'PATCH',
            processData: false,
            contentType: false,
            data: formData,
            url: `/dashboard/api/v1/job-title/${id}/`,
            success: function (data) {
                fetchData(main_url)
                $("#editModal").modal('hide');
            },
            failure: function (response) {
                alert(response)
            }
        });
    });

    function calculateRelations(){
        $.ajax({
            // contentType: "multipart/form-data",
            headers: {
                'X-CSRFToken': csrftoken,
            },
            type: 'POST',
            url: `/dashboard/api/v1/job-title/calculate-relation/`,
            success: function (data) {
                alert('calculating relations done')
            },
            failure: function (response) {
                alert(response)
            }
        });

    }
    function applyMultipleOperation() {
        let operation_type = $("#operation-selection").find(":selected").val()
        let inputs_id = []
        $("#operation-selection").prop('selectedIndex', 0);
        if (operation_type != 'None') {
            inputs_id = $("input[class='selected-items']:checked").map(function () {
                $(this).prop('checked', false);
                return parseInt($(this).val())
            }).get()
            formData = new FormData();
            formData.append('operation_type', operation_type)
            
            for (let item_id of inputs_id){
                formData.append('list_ids', item_id)
            }
            url = `/dashboard/api/v1/job-title/multi-select/action/`
            $.ajax({
                // contentType: "multipart/form-data",
                headers: {
                    'X-CSRFToken': csrftoken,
                },
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                url: url,
                success: function(data, textStatus, XmlHttpRequest) {
                    fetchData(main_url)
                    alert(data.detail)
                },
                failure: function (response) {
                    alert(response)
                }

            });
        }
    }
    function showArchivedItems(checkbox) {
        if (checkbox.checked == true) {
            main_url.searchParams.set('is_archived', '');
        } else {
            main_url.searchParams.set('is_archived', false);
        }
       
        fetchData(main_url)
    }


</script>
{% endblock %}