<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Description list</h1>
    <h5>text</h5>
    <form method="get" action=".">
        <input type="text" name="q">
        <button type="submit">Search</button>

    </form>
    <h5>titles</h5>
    <form method="get" action=".">
        <input type="text" name="title">
        <button type="submit">Search</button>

    </form>
    {% for description in object_list %}
    <ul>
        <li>
            <p><a href="{% url 'advisor:description-detail' id=description.id %}"><span>{{description.id}}</span>
                    {{description.text}}</a> <span style="padding:50px;"></span>
                <span>{% for title in description.job_title.all %} {{title}} {% if not forloop.last %}, {% endif %} {% endfor %}</span>
                <span style="padding:50px;"></span>
                <a style="color:green" href="{% url 'advisor:description-edit' id=description.id %}">Edit</a> <a
                    style="color:red" href="{% url 'advisor:description-delete' id=description.id %}">Delete</a>
            </p>
        </li>
    </ul>
    {% endfor %}


    {% if object_list.has_other_pages %}
    <!-- Pagination -->
    <div class='pagination justify-content-center'>
        {% if object_list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ object_list.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
        </li>
      {% endif %}

      {% for p in object_list.paginator.page_range %}
        {% if object_list.number == p %}
          <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    <!-- END Pagination -->
    {% endif %}

    <p><a href="{% url 'advisor:description-create' %}">Create</a></p>
</body>

</html>